#top_tray {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
}

#clock-button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-icon {
    width: 26px;
    height: 26px;
}

#modal-desc {
    font-size: 18px;
}

#timepicker-container {
    flex-direction: row;
}

.time-label {
    font-size: 20px;
}

.time-input {
    font-size: 20px;
    border: none;
    text-align: center;
    margin: auto;
}

#warnings-container {
    margin-top: 20px;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
}

.walert {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 20px;
}

#alerts-container {
    flex-direction: column;
    max-height: 150px;
    overflow-y: scroll;
}

#sensors-container {
    margin-top: 10px;
}

#power-container {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 70px;
    left: 0px;
}

#power-button {
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 125px;
    border-width: 5px;
}

#power-icon {
    width: 100px;
    height: 100px;
}

#power-text {
    padding: 0px;
    font-size: 50px;
    vertical-align: top;
}

#toast-msg {
    font-size: 20px;
}

@media only screen and (max-height: 668px) {
    #modal-desc {
        font-size: 15px;
    }

    #timepicker-container {
        flex-direction: row;
    }
    
    .time-label {
        font-size: 17px;
    }

    .time-card {
        padding: 0px;
    }
    
    .time-input {
        font-size: 17px;
        width: 100%;
    }

    .walert {
        font-size: 15px;
    }

    #warnings-container {
        padding-top: 50px;
        max-height: 120px;
    }

    #alerts-container {
        max-height: 100px;
    }

    #mq2-title {
        font-size: 15px;
    }

    #mq2-val {
        font-size: 20px;
    }

    #fsr-title {
        font-size: 15px;
    }

    #fsr-val {
        font-size: 20px;
    }

    .card-body {
        padding: 5px;
    }

    #power-container {
        bottom: 30px;
    }

    #power-button {
        width: 110px;
        height: 110px;
        border-radius: 85px;
        border-width: 2px;
    }
    
    #power-icon {
        width: 45px;
        height: 45px;
    }
    
    #power-text {
        font-size: 20px;
    }

    #toast-msg {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .walert {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 7px;
    }

    #warnings-container {
        flex-direction: row;
        overflow-y: hidden;
    }

    #alerts-container {
        flex-direction: row;
        overflow-y: hidden;
    }

    #power-container {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 70px;
        left: 0px;
    }
}
